<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="author" content="Dorian Fournier" />
  <meta name="title" property="og:title" content="Home - Dorian Fournier" />
  <meta property="og:type" content="Portfolio" />
  <meta name="image" property="og:image" content="images/A350_meta_linkedin.png" />
  <title>Home - Dorian Fournier</title>
  <link rel="icon" type="image/png" href="images/graduated.png" />
  <link rel="stylesheet" href="style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body class="bg-light text-dark">
  <header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index-en.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutMe">About me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="myProjects-en.html">My projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#job">Job</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <a href="./index.html" class="rotation_effect">
        <img class="flag" src="images/france.png" alt="French flag" />
      </a>
    </nav>
    <section>
      <div class="hero">
        <img src="images/A350.png" alt="A350" />
        <h1 class="headline">Dorian Fournier</h1>
        <div class="marquee-rtl">
          <div>Student in embedded systems</div>
        </div>
      </div>
    </section>
  </header>

  <div class="slider"></div>

  <div class="arrow">
    <img class="rounded mx-auto d-block" src="images/down-arrow.png" alt="Go down arrow"
      style="width: 70px; height: 70px;" />
  </div>

  <div class="container-sm">
    <p class="welcomeText text-center">
      Welcome onboard my website ! You'll find here some information about
      me, such as my studies and my projects. If you have any questions, don't
      hesitate to contact me !<br /><br />
    </p>
  </div>

  <h2 class="text-center" id="aboutMe">
    About me
  </h2>
  <div class="container-sm" style="display: flex; ">
    <div class="aboutMe">
      <div class="aboutMeText">
        <p>
          My name is Dorian Fournier and I’m 23. I’m currently in the fourth
          year of an
          <b>Engineering program in Robotics and Embedded Systems</b> at
          Bordeaux Ynov Campus. Before that, I graduated with a scientific A-Level
          and I followed two years of a Bachelor’s Degree in « Physics,
          Chemistry and Engineering Science » (PCSI) at Lyon Faculty of Science.
          <br /><br />
          Passionate about new technologies and IT, I would like to specialize
          in <b> embedded software development</b>. Entrepreneurship and management are also skills that I
          would like to develop during my career as a project manager in software / embedded systems.
          <br /><br />
          As a hobby, I like practicing snooker, golf and participating in some
          projects which use embedded programming or/and electronic.
          <br /><br />
          I am currently working as an apprentice in the SII group - CES (Continental Engineering Services) division,
          since October 2021.
          <br /><br />
        </p>
        <div class="wrapper_logo">
          <a class="cta_logo" href="folder/CV_Dorian_Fournier.pdf" target="_blank">
            <span> <img src="images/cv.png" alt="Logo Resume (CV)" style="width: 40px;" /></span>
          </a>
        </div>
      </div>

      <div class="card">
        <img src="images/photo.jpg" alt="Me"
          style="width: 180px; margin: auto; margin-top: 10px; border-radius: 5px;" />
        <h3 style="margin: 15px;">DORIAN FOURNIER</h3>
        <p>Apprentice engineer in embedded software<br />Student in Embedded systems</p>
        <p>15th February 1999 - 23 years old</p>
        <p>Live in Bordeaux / Toulouse</p>
        <div style="margin: 15px 0;">
          <a href="https://www.linkedin.com/in/dorian-fournier-086a53153/" target="_blank"><img
              src="images/linkedin_logo_card.png" alt="Linkedin icon" target="_blank"
              style="width: 10%; margin: 10px;" /></a>
          <a href="https://github.com/DorianFournier" target="_blank"><img src="images/github-sign.png"
              alt="Git hub icon" style="width: 10%; margin: 10px;" /></a>
        </div>
        <div class="line_under_card"></div>
      </div>
    </div>
  </div>

  <div class="separate_line"></div>

  <div class="myAcademicBackground">
    <h2 style="text-align: center">
      My academic background
    </h2>
    <!--TIME LINE-->
    <div class="T1">
      <div class="Timeline">
        <div class="rightbox_2">
          <div class="rb-container_2">
            <ul class="rb_2">
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  June 2017
                </div>
                <div class="item-title_2">A-Level</div>

              </li>
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  2017 - 2018
                </div>
                <div class="item-title_2">L1 - PCSI</div>

              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  2018 - 2019
                </div>
                <div class="item-title_2">L2 - PCSI</div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  2019 - 2020<br>
                </div>
                <div class="item-title_2">B1 - Ynov</div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  2020 - 2021<br>
                </div>
                <div class="item-title_2">B2 - Ynov</div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  2021 - 2022<br>
                </div>
                <div class="item-title_2">B3 - Ynov</div>
                <div class="timestamp_2">
                  Since October 2021<br>
                </div>
                <div class="item-title_2">SII apprenticeship</div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  From October 2022<br>
                </div>
                <div class="item-title_2">M1 - Ynov<br>Project manager</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="T2">
      <div class="Timeline">
        <div class="rightbox_2">
          <div class="rb-container_1">
            <ul class="rb_1">
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  June 2017
                </div>
                <div class="item-title_2">A-Level</div>

              </li>
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  2017 - 2018
                </div>
                <div class="item-title_2">L1 - PCSI</div>

              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  2018 - 2019
                </div>
                <div class="item-title_2">L2 - PCSI</div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  2019 - 2020<br>
                </div>
                <div class="item-title_2">B1 - Ynov</div>
              </li>
            </ul><br /><br />
            <ul class="rb_2">
              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  2020 - 2021<br>
                </div>
                <div class="item-title_2">B2 - Ynov</div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  2021 - 2022<br>
                </div>
                <div class="item-title_2">B3 - Ynov</div>
                <div class="timestamp_2">
                  Since October 2021<br>
                </div>
                <div class="item-title_2">SII apprenticeship</div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="timestamp_2">
                  From October 2022<br>
                </div>
                <div class="item-title_2">M1 - Ynov<br>Project manager</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="separate_line"></div>

    <h2 class="text-center" id="education">
      Education
    </h2>
    <div class="container-sm" style="display: flex; align-items: center;">
      <div class="education">
        <img src="images/logo_formation.svg" alt="Logo formation" />
        <div class="educationText">
          <p>
            “Automotive, aeronautics, agri-food, pharmaceutical, defence… Many
            sectors rely on Robotics and System Engineering specialists.”
            <br /><br />
            Embedded systems are now indispensable in many areas. Thanks to this
            training, we are able to study the process of current technologies.
            This training allows us to have the necessary knowledge to work on
            the development of these technologies for a company.<br /><br />
            The projects I carry out with the Lab University permit me to work
            on the
            <b>hardware</b> and <b>software</b> side of an embedded solution.
            This allows me to develop my skills in different areas such as :
            <b>embedded programming</b>, computer-aided design (CAD), applied
            physics, project management, the conception of specifications, and
            functional analyses...
          </p>
        </div>
      </div>
    </div>

    <div class="separate_line"></div>
    <h2 class="text-center" id="skills">My skills</h2>

    <div class="skills_container">
      <div class="container-sm">
        <p class="text-center">
          Thanks to my studies, my personal projects and my apprenticeship, I was capable to acquire
          new knowledge and develop my skills in different areas that an embedded
          engineer must master.
          <br /><br />
        </p>
      </div>

      <div class="grid-container">
        <div class="software">
          <h3 class="text-center" id="skills">Software</h3>
          <div class="containerskills">
            <div class="skills sw_skill_1"><i>Embedded C</i></div>
          </div>
          <div class="containerskills">
            <div class="skills sw_skill_2">
              <i>Python & MicroPython</i>
            </div>
          </div>
          <div class="containerskills">
            <div class="skills sw_skill_3">
              <i>C++</i>
            </div>
          </div>
          <div class="containerskills">
            <div class="skills sw_skill_4"><i>Bash / Git / GitHub</i></div>
          </div>
          <div class="containerskills">
            <div class="skills sw_skill_5">
              <i>Linux / Embedded Linux</i>
            </div>
          </div>
          <div class="containerskills">
            <div class="skills sw_skill_6"><i>
                Communication protocols*</i></div>
          </div>
          <div class="containerskills">
            <div class="skills sw_skill_7"><i>IDE**</i></div>
          </div>
          <p class="text-center">
            * : SPI, I2C, UART, USB, BUS CAN<br />
            ** : Cube IDE, VS Code, PyCharm, Eclipse, IntelliJ
          </p>
        </div>

        <div class="hardware">
          <h3 class="text-center" id="skills">Hardware</h3>
          <div class="containerskills">
            <div class="skills hw_skill_1">
              <i>ARM Architecture</i>
            </div>
          </div>
          <div class="containerskills">
            <div class="skills hw_skill_2"><i>Sensor management</i></div>
          </div>
          <div class="containerskills">
            <div class="skills hw_skill_3">
              <i>PCB design</i>
            </div>
          </div>
          <div class="containerskills">
            <div class="skills hw_skill_4">
              <i>Reverse engineering </i>
            </div>
          </div>
          <h3 class="text-center" id="skills">Project management</h3>
          <div class="containerskills">
            <div class="skills project_skill_1"><i>V-Model</i></div>
          </div>
          <div class="containerskills">
            <div class="skills project_skill_2"><i>Agile </i></div>
          </div>
          <p class="text-center">
            <u><i>Tools :</i></u> Gantt Project, Trello, Jira<br />
            Google Drive<br />
          </p>
        </div>
      </div>

      <div class="container-sm">
        <p class="text-center" style="margin-top: 3%;">
          <u><i>Soft skills</i></u> : Problem solver mindset, judgment and
          decision making, team working spirit, curious.
        </p>
        <p class="text-center">
          I also have knowledge in web development : HTML, CSS, JavaScript,
          Bootstrap.
        </p>
      </div>
    </div>

    <div class="separate_line"></div>

    <h2 class="text-center" id="myProjects">
      My projects
    </h2>

    <div class="myProjects_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card">
              <img src="images/cookiesGames.png" alt="CookiesGames menu"
                style="width: 210px; margin-left: auto; margin-right: auto; margin-top: 10px; border-radius: 5px;" />
              <h3 style="margin: 15px;">CookiesGames </h3>
              <p style="padding: 5%; text-align: center; ">
                Multi-game platform development
                for greedy children from 7 to 77 years old.<br />With Qt, C++.
              </p>
              <div class="line_under_card"></div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/smartFridge.png" alt="Smart fridge project"
                style="width: 180px; margin-left: auto; margin-right: auto; margin-top: 10px;" />
              <h3 style="margin: 15px;">Smart Fridge</h3>
              <p style="padding: 5%; text-align: center;">
                Development of a home automation box and its
                tools.<br /> Assigned to the development of a connected pantry.
              </p>
              <div class="line_under_card"></div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/embeddedProgramming.jpg" alt="Device driver"
                style="width: 220px; margin-left: auto; margin-right: auto; margin-top: 10px; border-radius: 5px;" />
              <h3 style="margin: 15px;">Device driver</h3>
              <p style="padding: 5%; text-align: center;">
                Essential for the development of embedded solutions, they provide
                an optimal interaction between a program and a device.
              </p>
              <div class="line_under_card"></div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="images/flappython_menu.png" alt="Flappy-Thon project"
                style="width: 250px; height: 160px; margin-left: auto; margin-right: auto; margin-top: 25px; border-radius: 5px;" />
              <h3 style="margin: 15px;">Flappy-Thon</h3>
              <p style="padding: 5%; text-align: center;">
                Development of a new version of the famous "Flappy Bird" game.
                <br />With MicroPython, and STM32 board.
              </p>
              <div class="line_under_card"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="container-sm">
        <div class="myProjects" style="display: flex; flex-direction: column;">
          <p class="text-center">
            For more information about my projects, , please click on the button
            !
          </p>
          <div class="wrapper_logo">
            <a class="cta_logo" href="myProjects.html">
              <span>
                <img src="images/right-arrow.png" alt="Go to myProject page" style="width: 30px; padding-left: 3px;" />
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="separate_line"></div>

    <h2 class="text-center" id="job">
      Job
    </h2>
    <div class="container-sm" style="display: flex; align-items: center;">
      <div class="apprenticeship">
        <img src="images/sii.png" alt="Apprenticeship image" />
        <div class="apprenticeshipText">
          <h4 class="text-center" id="#" style="margin-bottom: 5%;">
            Apprenticeship - SII
          </h4>
          <p>
            I join SII in October 2021 for 3 years to realize my apprenticeship in embedded systems.
            This experience allows me to work for an international client : Continental.<br><br>
            I work with AUTOSAR standards, to develop and configure some requirements for automotive ECU.
            <br><br>
            Having the ambition to become an engineering project manager during my career, it is a pleasure to work with
            experienced engineers.
            <br><br>
          </p>
          <div class="wrapper_logo">
            <a class="cta_logo" href="https://sii-group.com/fr-FR" target="_blank">
              <span>
                <img src="images/right-arrow.png" alt="SII web site" style="width: 30px;" />
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="separate_line"></div>

    <h2 class="text-center" id="contact">
      Contact
    </h2>
    <div class="logoContainer">
      <div class="blobs-container">
        <div class="blob">
          <a href="mailto:dorian.fournier@ynov.com" target="_blank">
            <img src="images/mail.png" style="width: 70px;" />
          </a>
        </div>
      </div>
      <div class="blobs-container">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="blob">
          <a href="https://www.linkedin.com/in/dorian-fournier/" target="_blank">
            <img src="images/linkedin.png" style="width: 60px;" />
          </a>
        </div>
      </div>
    </div>
    <div class="linksContainer">
      <a href="mailto:dorian.fournier@ynov.com" id="contactActive">dorian.fournier@ynov.com</a>
      <a href="https://www.linkedin.com/in/dorian-fournier/" target="_blank" id="contactActive2">Linkedin</a>
    </div>

    <div class="footer-basic">
      <footer>
        <div class="social">
          <a href="https://www.linkedin.com/in/dorian-fournier/" target="_blank"><img src="images/linkedin.png"
              alt="Logo Linkedin" style="width: 60%; padding-bottom: 25%;" /> </a><a
            href="mailto:dorianfournier@hotmail.fr"><img src="images/mail.png" alt="Logo mail"
              style="width: 70%; padding-bottom: 20%;" /></a><a href="https://github.com/DorianFournier"
            target="_blank">
            <img src="images/github.png" alt="Logo GitHub" style="width: 70%; padding-bottom: 20%;" />
          </a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="index-en.html">Home</a></li>
          <li class="list-inline-item"><a href="#aboutMe">About me</a></li>
          <li class="list-inline-item"><a href="#education">Education</a></li>
          <li class="list-inline-item">
            <a href="myProjects-en.html">My projects</a>
          </li>
          <li class="list-inline-item">
            <a href="#Job">Job</a>
          </li>
          <li class="list-inline-item">
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <p class="copyright">Dorian Fournier's Website© 2022</p>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"
      integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg=="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js"
      integrity="sha512-lJDBw/vKlGO8aIZB8/6CY4lV+EMAL3qzViHid6wXjH/uDrqUl+uvfCROHXAEL0T/bgdAQHSuE68vRlcFHUdrUw=="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.5/js/jquery.fluidbox.min.js"
      integrity="sha512-0kQqdmb3fpKtRwrbCZDlmiwuZgDyPAOLDOu/HyAt4py7lAVDXKknqtqS6dFNV8U8JrHZymQxlO9SFPZ2u8dhMw=="
      crossorigin="anonymous"></script>
    <script src="app.js"></script>
    <script src="comingsoon.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>

    <script>
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      var firebaseConfig = {
        apiKey: "AIzaSyDpE3b0PcyIdomjssMTyIEsSGo1GFgA8S8",
        authDomain: "dorian-fournier.firebaseapp.com",
        databaseURL: "https://dorian-fournier.firebaseio.com",
        projectId: "dorian-fournier",
        storageBucket: "dorian-fournier.appspot.com",
        messagingSenderId: "180470694531",
        appId: "1:180470694531:web:4fed492f35646502add1b6",
        measurementId: "G-GM3RXTDDSL"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
</body>

</html>