<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="author" content="Dorian Fournier" />
  <meta name="title" property="og:title" content="Accueil - Dorian Fournier" />
  <meta property="og:type" content="Portfolio" />
  <meta name="image" property="og:image" content="images/A350_meta_linkedin.png" />
  <title>Accueil - Dorian Fournier</title>
  <link rel="icon" type="image/png" href="images/graduated.png" />
  <link rel="stylesheet" href="style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body class="bg-light text-dark">
  <header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#aboutMe">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#education">Formation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="myProjects.html">Mes projets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#job">Alternance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <a href="./index-en.html" class="rotation_effect">
        <img src="images/united-kingdom.png" style=" width: 30px; height: 30px;" alt="Drapeau Royaume-Unis" />
      </a>
    </nav>
    <section>
      <div class="hero">
        <img src="images/A350.png" alt="A350" />
        <h1 class="headline">Dorian Fournier</h1>
        <div class="marquee-rtl">
          <div>Étudiant dans le domaine des systèmes embarqués</div>
        </div>
      </div>
    </section>
  </header>

  <div class="slider"></div>

  <div class="arrow" style="display: flex;">
    <img class="rounded mx-auto d-block" src="images/down-arrow.png" alt="Go down arrow"
      style="width: 70px; height: 70px;" />
  </div>

  <div class="container-sm">
    <p class="welcomeText text-center">
      Bienvenue à bord de mon site internet ! Vous trouverez dans celui-ci
      différentes informations me concernant telles que mes études, mes
      projets personnels ainsi que ma carrière professionnelle.<br /><br />
    </p>
  </div>

  <h2 class="text-center" id="aboutMe">
    À propos
  </h2>
  <div class="container-sm" style="display: flex; align-items: center;">
    <div class="aboutMe">
      <div class="aboutMeText">
        <p>
          Je m'appelle Dorian Fournier et je suis actuellement étudiant en
          quatrième année d'une formation dans la
          <b>Robotique et l'ingénierie des systèmes</b> spécialisé dans l'informatique embarquée à Ynov Bordeaux. Avant
          cela, j'ai obtenu un baccalauréat scientifique et j'ai suivi deux
          années de licence de "Physique Chimie Sciences de l'Ingénieur"
          (PCSI) en faculté des sciences à Lyon. <br /><br />
          Passionné par les nouvelles technologies et l'informatique, j'ai fait le choix de me spécialiser
          dans le domaine de <b>l'informatique embarquée</b>. Curieux, et persévérant,
          j'envisage une carrière professionnelle me permettant de découvrir le monde de l'embarqué
          dans différents domaines, tels que l'automobile, l'aéronautique, les automates inustriels, la métrologie...
          L'entreprenariat et le management sont également des compétences que je souhaiterais
          décourvir durant ma carrière dans mon souhait d'évolution en tant que chef de projet en logiciels / systèmes
          embarqués. <br /><br />
          J'occupe mes temps libres avec la réalisation de projets personnels
          intégrants de l'électronique et de la programmation, ainsi que par
          la pratique du billard et du golf.<br /><br />
          En contrat d'apprentissage depuis Octobre 2021 au sein du groupe SII - pôle CES (Continental Engineering
          Services).<br /><br />
        </p>
        <div class="wrapper_logo">
          <a class="cta_logo" href="folder/CV_Dorian_Fournier.pdf" target="_blank">
            <span> <img src="images/cv.png" alt="Logo CV" style="width: 40px;" /></span>
          </a>
        </div>
      </div>

      <div class="card">
        <img src="images/photo.jpg" alt="Photo identité Dorian"
          style="width: 180px; margin: auto; margin-top: 10px; border-radius: 5px;" />
        <h3 style="margin: 15px;">Dorian FOURNIER</h3>
        <h5></h5>
        <p>Apprenti ingénieur logiciel embarqué Étudiant en systèmes embarqués</p>
        <p>15 Février 1999 - 23 ans</p>
        <p>Bordeaux / Toulouse</p>
        <div style="margin: 15px 0;">
          <a href="https://www.linkedin.com/in/dorian-fournier-086a53153/" target="_blank"><img
              src="images/linkedin_logo_card.png" alt="Linkedin icon" target="_blank"
              style="width: 10%; margin: 10px;" /></a>
          <a href="https://github.com/DorianFournier" target="_blank"><img src="images/github-sign.png"
              alt="Git hub icon" style="width: 10%; margin: 10px;" /></a>
        </div>
        <div class="line_under_card"></div>
      </div>
    </div>
  </div>

  <div class="separate_line"></div>

  <h2 style="text-align: center">
    Mon parcours
  </h2>
  <!--TIME LINE-->
  <div class="T1">
    <div class="Timeline">
      <div class="rightbox_2">
        <div class="rb-container_2">
          <ul class="rb_2">
            <li class="rb-item" ng-repeat="itembx">

              <div class="timestamp_2">
                Juin 2017
              </div>
              <div class="item-title_2">Baccalauréat<br>Scientifique</div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                2017 - 2018
              </div>
              <div class="item-title_2">L1 - PCSI</div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                2018 - 2019
              </div>
              <div class="item-title_2">L2 - PCSI</div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                2019 - 2020<br>
              </div>
              <div class="item-title_2">B1 - Ynov</div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                2020 - 2021<br>
              </div>
              <div class="item-title_2">B2 - Ynov</div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                2021 - 2022<br>
              </div>
              <div class="item-title_2">B3 - Ynov</div>
              <div class="timestamp_2">
                Depuis Octobre 2021<br>
              </div>
              <div class="item-title_2">Apprenti SII</div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                Dès Octobre 2022<br>
              </div>
              <div class="item-title_2">M1 - Ynov<br> Chef de projet</div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="T2">
    <div class="Timeline">
      <div class="rightbox_2">
        <div class="rb-container_1">
          <ul class="rb_1">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                Juin 2017
              </div>
              <div class="item-title_2">Baccalauréat<br>Scientifique</div>
            </li>
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                2017 - 2018
              </div>
              <div class="item-title_2">L1 - PCSI</div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                2018 - 2019
              </div>
              <div class="item-title_2">L2 - PCSI</div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                2019 - 2020<br>
              </div>
              <div class="item-title_2">B1 - Ynov</div>
            </li>
          </ul><br /><br />
          <ul class="rb_2">
            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                2020 - 2021<br>
              </div>
              <div class="item-title_2">B2 - Ynov</div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                2021 - 2022<br>
              </div>
              <div class="item-title_2">B3 - Ynov</div>
              <div class="timestamp_2">
                Depuis Octobre 2021<br>
              </div>
              <div class="item-title_2">Apprenti SII</div>
            </li>

            <li class="rb-item" ng-repeat="itembx">
              <div class="timestamp_2">
                Dès Octobre 2022<br>
              </div>
              <div class="item-title_2">M1 - Ynov<br> Chef de projet</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="separate_line"></div>

  <h2 class="text-center" id="education">
    Formation
  </h2>
  <div class="container-sm" style="display: flex; align-items: center;">
    <div class="education">
      <img src="images/logo_formation.svg" alt="Logo formation" />
      <div class="educationText">
        <p>
          « Automobile, aéronautique, agroalimentaire, industrie
          pharmaceutique, défense… Un grand nombre de secteurs font appel à
          des spécialistes de la Robotique et de l’Ingénierie Système. »<br /><br />
          Les systèmes embarqués sont aujourd'hui indispensables dans de
          nombreux domaines. Nous avons la chance grâce à cette formation, de
          pouvoir étudier le fonctionnement des technologies actuelles, et
          ainsi d'avoir les compétences nécessaires aux besoins des
          entreprises dans <b>le développement et la gestion </b>de celles-ci.<br /><br />
          Les projets que nous menons au sein de notre école, nous permettent
          de travailler sur <b>l'hardware</b> et <b>le software</b> des
          systèmes embarqués que nous développons. Cela permet d'acquérir des
          compétences dans différents domaines tels que
          la programmation embarquée, la conception assistée par
          ordinateur, la physique appliquée... <br /><br />
          Ces projets permettent également d'avoir de nouvelles connaissances
          dans <b>la gestion de projet</b>, la réalisation de documents
          professionnels avec des études de cahiers des charges et d'analyses
          fonctionnelles. <br /><br />
        </p>
      </div>
    </div>
  </div>

  <div class="separate_line"></div>

  <h2 class="text-center" id="skills">Mes compétences</h2>
  <div class="skills_container">
    <div class="container-sm">
      <p class="text-center">
        Ma formation, mes divers projets personnels ainsi que mon alternance
        en ingénierie logicielle au sein de SII, me permettent d'acquérir
        de nouvelles connaissances et de continuer à développer mes compétences dans les
        différents domaines qu'un ingénieur en embarqué doit maîtriser.
        <br /><br />
      </p>
    </div>

    <div class="grid-container">
      <div class="software">
        <h3 class="text-center" id="skills">Software</h3>
        <div class="containerskills">
          <div class="skills sw_skill_1">
            <i>C embarqué</i>
          </div>
        </div>
        <div class="containerskills">
          <div class="skills sw_skill_2">
            <i>Python & MicroPython</i>
          </div>
        </div>
        <div class="containerskills">
          <div class="skills sw_skill_3">
            <i>C++</i>
          </div>
        </div>
        <div class="containerskills">
          <div class="skills sw_skill_4"><i>Bash / Git / GitHub</i></div>
        </div>
        <div class="containerskills">
          <div class="skills sw_skill_5">
            <i>Linux / Linux embarqué</i>
          </div>
        </div>
        <div class="containerskills">
          <div class="skills sw_skill_6">
            <i>Protocoles de communications*</i>
          </div>
        </div>
        <div class="containerskills">
          <div class="skills sw_skill_7"><i>Environnement de développement**</i></div>
        </div>
        <p class="text-center">
          * : SPI, I2C, UART, USB, BUS CAN<br />
          ** : Cube IDE, VS Code, Qt, Eclipse<br />
        </p>
      </div>

      <div class="hardware">
        <h3 class="text-center" id="skills">Hardware</h3>
        <div class="containerskills">
          <div class="skills hw_skill_1">
            <i>Architecture ARM</i>
          </div>
        </div>
        <div class="containerskills">
          <div class="skills hw_skill_2"><i>Gestion de capteurs</i></div>
        </div>
        <div class="containerskills">
          <div class="skills hw_skill_3">
            <i>Analyses schematic</i>
          </div>
        </div>
        <div class="containerskills">
          <div class="skills hw_skill_4">
            <i>Rétro-ingénierie </i>
          </div>
        </div>
        <h3 class="text-center" id="skills">Gestion de projet</h3>
        <div class="containerskills">
          <div class="skills project_skill_1"><i>Cycle en V </i></div>
        </div>
        <div class="containerskills">
          <div class="skills project_skill_2"><i>Méthode agile </i></div>
        </div>
        <p class="text-center">
          <u><i>Outils :</i></u> Gantt Project, Trello, Jira<br />
          Google Drive<br />
        </p>
      </div>
    </div>

    <div class="container-sm">
      <p class="text-center" style="margin-top: 3%;">
        <u><i>Soft skills</i></u> : Problem solver mindset, jugement et prise de
        décision, esprit d'équipe, curieux.
      </p>
      <p class="text-center">
        Je possède également quelques connaissances en développement web : HTML,
        CSS, JavaScript, Framework : Bootstrap.
      </p>
    </div>
  </div>

  <div class="separate_line"></div>

  <h2 class="text-center" id="myProjects">
    Mes projets
  </h2>

  <div class="myProjects_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <img src="images/cookiesGames.png" alt="Cookies Games menu"
              style="width: 210px; margin-left: auto; margin-right: auto; margin-top: 10px; border-radius: 5px;" />
            <h3 style="margin: 15px;">CookiesGames</h3>
            <p style="padding: 5%; text-align: center; ">
              Développement d'une plateforme de jeux autour
              de ce délicieux biscuit qui est le cookie.<br>De 7 à 77 ans.
            </p>
            <div class="line_under_card"></div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="text-decoration: none;">
            <img src="images/smartFridge.png" alt="Smart fridge project"
              style="width: 180px; margin-left: auto; margin-right: auto; margin-top: 10px;" />
            <h3 style="margin: 15px;">Smart Fridge</h3>
            <p style="padding: 5%; text-align: center;">
              Participation au développement d'une box domotique et de ses
              outils. Attitré à la réalisation d'un garde-manger connecté.<br />
              <i>BONUS :</i> cafetière connectée
            </p>
            <div class="line_under_card"></div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/embeddedProgramming.jpg " alt="Device driver project"
              style="width: 220px; margin-left: auto; margin-right: auto; margin-top: 10px; margin-bottom: 5px; border-radius: 5px;" />
            <h3 style="margin: 15px;">Pilote informatique</h3>
            <p style="padding: 5%; text-align: center;">
              Indispensable dans de domaine de l'embarqué, ils
              permettent une interaction entre un programme et un périphérique.
            </p>

            <div class="line_under_card"></div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="images/flappython_menu.png" alt="Flappython project"
              style="width: 250px; height: 160px; margin-left: auto; margin-right: auto; margin-top: 25px; margin-bottom: 5px; border-radius: 5px;" />
            <h3 style="margin: 15px;">Flappy-Thon</h3>
            <p style="padding: 5%; text-align: center;">
              Développement en microPython d'une nouvelle version de FlappyBird.
              Embarquez le sur cible, et laissez-vous surprendre par un nouveau personnage !
            </p>
            <div class="line_under_card"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-sm">
      <div class="myProjects" style="display: flex; flex-direction: column;">
        <p class="text-center">
          Pour plus d'informations sur ces projets, n'hesitez pas à cliquer sur le
          bouton ci-dessous !
        </p>

        <div class="wrapper_logo">
          <a class="cta_logo" href="myProjects.html">
            <span>
              <img src="images/right-arrow.png" alt="Site web SII" style="width: 30px; padding-left: 3px;" />
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="separate_line"></div>

  <h2 class="text-center" id="job">
    Alternance - Groupe SII
  </h2>
  <div class="container-sm" style="display: flex; align-items: center;">
    <div class="apprenticeship">
      <img src="images/sii.png" alt="Apprenticeship image" />
      <div class="apprenticeshipText">
        <h4 class="text-center" style="margin-bottom: 5%;">
          Apprenti ingénieur logiciel embarqué - SII
        </h4>
        <p>
          Ayant pour ambition de devenir chef de projet dans l'ingénierie des systèmes
          embarquée au cours de ma carrière, j'ai la chance de pouvoir acquèrir dès à présent d'une première
          expérience
          professionnelle dans ce domaine-ci, au sein d'une entreprise présente dans de nombreux secteurs.<br /><br />
          Le groupe SII (Société pour l'Informatique Industrielle), a été crée en 1979, et est depuis devenu, un des
          leader dans le domaine de l'ingénierie haute technologie. <br /><br /> C'est une réelle motivation de pouvoir
          acquérir de l'expérience professionnelle aux cotés d'ingénieurs expert dans leurs domaine. <br /><br />
        </p>
        <div class="wrapper_logo">
          <a class="cta_logo" href="https://sii-group.com/fr-FR" target="_blank">
            <span>
              <img src="images/right-arrow.png" alt="Site web SII" style="width: 30px; padding-left: 3px;" />
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="separate_line"></div>
  <h2 class="text-center" id="contact">
    Contact
  </h2>
  <div class="logoContainer">
    <div class="blobs-container">
      <div class="blob">
        <a href="mailto:dorian.fournier@ynov.com" target="_blank">
          <img src="images/mail.png" style="width: 70px;" />
        </a>
      </div>
    </div>
    <div class="blobs-container">
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <div class="blob">
        <a href="https://www.linkedin.com/in/dorian-fournier/" target="_blank">
          <img src="images/linkedin.png" style="width: 60px;" />
        </a>
      </div>
    </div>
  </div>
  <div class="linksContainer">
    <a href="mailto:dorian.fournier@ynov.com" id="contactActive">dorian.fournier@ynov.com</a>
    <a href="https://www.linkedin.com/in/dorian-fournier/" target="_blank" id="contactActive2">Linkedin</a>
  </div>

  <div class="footer-basic">
    <footer>
      <div class="social">
        <a href="https://www.linkedin.com/in/dorian-fournier/" target="_blank"><img src="images/linkedin.png"
            alt="Logo Linkedin" style="width: 60%; padding-bottom: 25%;" /> </a><a
          href="mailto:dorian.fournier@ynov.com"><img src="images/mail.png" alt="Logo mail"
            style="width: 70%; padding-bottom: 20%;" /></a><a href="https://github.com/DorianFournier" target="_blank">
          <img src="images/github.png" alt="Logo GitHub" style="width: 70%; padding-bottom: 20%;" />
        </a>
      </div>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="index.html">Accueil</a></li>
        <li class="list-inline-item"><a href="#aboutMe">À propos</a></li>
        <li class="list-inline-item"><a href="#education">Formation</a></li>
        <li class="list-inline-item"><a href="myProjects.html">Mes projets</a></li>
        <li class="list-inline-item"><a href="#job">Alternance</a></li>
        <li class="list-inline-item"><a href="#contact">Contact</a></li>
      </ul>
      <p class="copyright">Dorian Fournier site© 2022</p>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"
    integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js"
    integrity="sha512-lJDBw/vKlGO8aIZB8/6CY4lV+EMAL3qzViHid6wXjH/uDrqUl+uvfCROHXAEL0T/bgdAQHSuE68vRlcFHUdrUw=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.5/js/jquery.fluidbox.min.js"
    integrity="sha512-0kQqdmb3fpKtRwrbCZDlmiwuZgDyPAOLDOu/HyAt4py7lAVDXKknqtqS6dFNV8U8JrHZymQxlO9SFPZ2u8dhMw=="
    crossorigin="anonymous"></script>
  <script src="app.js"></script>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>

  <!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
  <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
      apiKey: "AIzaSyDpE3b0PcyIdomjssMTyIEsSGo1GFgA8S8",
      authDomain: "dorian-fournier.firebaseapp.com",
      databaseURL: "https://dorian-fournier.firebaseio.com",
      projectId: "dorian-fournier",
      storageBucket: "dorian-fournier.appspot.com",
      messagingSenderId: "180470694531",
      appId: "1:180470694531:web:4fed492f35646502add1b6",
      measurementId: "G-GM3RXTDDSL"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>
</body>

</html>